/cobertura.ser
*.log
target/
build/
.gradle/
/docs
plugin.xml
*.zip
.idea/
*.iml
*.iws
*.ipr
/out
.settings
.classpath
.project
.DS_Store
grails-audit-logging-plugin/web-app

/audit-test/atlassian-ide-plugin.xml

/atlassian-ide-plugin.xml
