/cobertura.ser
*.log
target/
build/
.gradle/
/docs
plugin.xml
*.zip
.idea/
*.iml
*.iws
*.ipr
/out
.settings
.classpath
.project
.DS_Store
grails-audit-logging-plugin/web-app

/audit-test/atlassian-ide-plugin.xml

/atlassian-ide-plugin.xml
audit-logging/classes
classes
/.asscache
/audit-test/.asscache
.vscode/settings.json
/plugin/out
/examples/audit-test/out
/.direnv
