<plugin name='audit-logging' version='0.5.3' grailsVersion='1.0 &gt; *'>
  <author>Shawn Hartsock</author>
  <authorEmail>hartsock@acm.org</authorEmail>
  <title>adds auditable to GORM domain classes</title>
  <description> Automatically log change events for domain objects.
The Audit Logging plugin adds an instance hook to domain objects that allows you to hang
Audit events off of them. The events include onSave, onUpdate, onChange, onDelete and
when called the event handlers have access to oldObj and newObj definitions that
will allow you to take action on what has changed.

Stable Releases:
    0.5.3

    </description>
  <resources>
    <resource>UrlMappings</resource>
    <resource>org.codehaus.groovy.grails.plugins.orm.auditable.AuditLogEventController</resource>
    <resource>org.codehaus.groovy.grails.plugins.orm.auditable.AuditLogEvent</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>